# vi: ft=sh

# this file is sourced from .xinitrc
# it is used to run programs at the start of the X session

# NOTE bspwm autostart defined in ~/.config/bspwm/bspwmrc
# the idea is to start programs after the window manager

# environment agnostic
# --------------------

# unclock keyring for terminal sessions
# see https://wiki.archlinux.org/index.php/GNOME/Keyring#With_a_display_manager
bspwm&

# start URxvt server
if [ -x /usr/bin/urxvtd ]; then
    urxvtd --quiet --opendisplay --fork &
fi

# load Xresources
xrdb -merge ~/.Xresources


# music player daemon
if [ -x /usr/bin/mpd ]; then
    mpd
fi

# screen temperature
if [ -x /usr/bin/redshift ]; then
    # use local config
    redshift -c ~/.config/redshift.conf &
fi

# environment specific
# --------------------

# # run if on any of the following
# if [[ "$XDG_CURRENT_DESKTOP" = "GNOME" ]]; then
# fi

# if [[ "$XDG_CURRENT_DESKTOP" = "KDE" ]]; then
# fi

# if [[ "$XDG_CURRENT_DESKTOP" = "MATE" ]]; then
# fi
