! generic X defaults
! ==============================================================================

! fonts
Xft.dpi: 96
Xft.antialias: true
Xft.hinting: true
Xft.rgba: rgb
Xft.autohint: true
Xft.hintstyle: hintslight
Xft.lcdfilter: lcddefault

! colours
! NOTE that file sources an actual colour scheme which is updated on demand.
! The command is `own_script_update_environment_theme [tempus theme slug]`
! e.g. for `tempus winter`:
! own_script_update_environment_theme winter
! See https://github.com/protesilaos/dotfiles especially its `bin`
#include </home/vh/.my_Xcolors/active-tempus-theme.Xcolors>

! urxvt
! ==============================================================================

! configurations
#include </home/vh/.my_urxvt/config>

! ! colours (urxvt specific)
! NOTE URxvt will use the colours specified in the generic X defaults
! uncomment below to use different theme for URxvt
! #include </home/vh/.my_urxvt/themes/tempus/tempus_rift.Xcolors>
